#main-footer {
  background: #343a40;
  color: #fff;
}

#special-link {
  z-index: 10000;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: red;
  color: black;
  text-align: center;
  position: fixed;
  bottom: 100px;
  Right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#special-link a {
  color:white;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
}

#main-body {
  min-height: 90vh;
}

.card-img-top {
  width: 100%;
  height: auto;
  object-fit: cover;
}

// CKEditor5 Setting
.ck {
  ck-editor {
    min-width: 100%;
  }
}

.ck-editor__editable {
  max-height: 80rem;
  min-height: 20rem;
  min-width: 100rem;
}

.ck-editor__editable_inline {
  max-height: 80rem;
  min-height: 20rem;
  min-width: 100%;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

textarea {
  resize: none;
}

.my_category {
  &:last-child {
    margin-bottom: 0.25rem;
  }
}




@media (max-width: 768px) {
  #special-link {
    width: 80px;
    height: 80px;
    bottom: 80px;
    Right: 20px;
  }
  
  #special-link a {
    font-size: 20px;
  }
}